.json-explorer {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;

  input {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 16px;
    padding: 10px;
    margin: 0 4px;
    border-radius: 12px;
    outline: 0;
    height: 20px;
    border: 2px inset gray;

    &:focus {
      border: 2px inset blue;
    }
  }

  aside {
    color: gray;
    margin: 0 16px;
    height: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  ul,
  li {
    list-style-type: none;
    padding-left: 8px;
  }

  .key {
    &.clickable {
      color: blue;
      &:hover {
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .value {
    &.string {
      color: orange;
    }

    &.boolean {
      color: brown;
    }

    &.number {
      color: forestgreen;
    }

    &.undefined {
      color: gray;
    }

    &.object {
      color: hotpink;
    }
  }
}
