.json-explorer {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow-x: auto;
  display: flex;
  flex-direction: column;

  input {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 16px;
    padding: 10px;
    margin: 0 4px;
    border-radius: 12px;
    outline: 0;
    height: 20px;
    border: 2px solid initial;

    &:focus {
      border: 2px solid blue;
    }
  }

  aside {
    color: gray;
    margin: 0 12px;
    height: 14px;
  }

  ul,
  li {
    list-style-type: none;
    padding-left: 12px;
  }

  ul {
    &.array {
      &::before {
        content: "[";
      }
      &::after {
        content: "],";
      }
    }

    &.object {
      &::before {
        content: "{";
      }
      &::after {
        content: "},";
      }
    }
  }

  .key {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::after {
      color: black;
      content: ":";
      font-weight: normal;
      padding-right: 6px;
    }

    &.clickable {
      color: blue;
      &:hover {
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .value {
    white-space: nowrap;

    &::after {
      color: black;
      content: ",";
    }

    &.string {
      color: orange;
      &::before {
        color: black;
        content: "'";
      }
      &::after {
        color: black;
        content: "',";
      }
    }

    &.boolean {
      color: brown;
    }

    &.number {
      color: forestgreen;
    }

    &.undefined {
      color: gray;
    }

    &.object {
      color: hotpink;
    }
  }
}
